.form_container {
    // display: flex;
    // width: 20%;
    // margin: auto;
    // padding: 10px;
}

#form {
    display: block;
    margin: auto;
    width: 100%;
    padding: 10px;
    button {
        text-align: center;
        padding: 6px 18px;
        margin: 12px;
        font-size: 1.5rem;
        border-radius: 2px;
        background-color: $font_navcolor;
        color: $text_color;
        // font-weight: 800;
        cursor: pointer;
        border: none;
        justify-self: center;
        button:hover {
            opacity: 50%;
        }
    }
}

input, textarea {
    margin: 10px;
    padding: .75rem;
    display: block;
    // border: 2px solid black;
    // border: 2px solid $border_color;
    border-radius: 6px;
    font-size: 1rem;
    width: 100%;
    background-color: #FFFAFA;
    color: $text_color;
    font-family: $Spartan_font;
}

// label {
//     font-size: 1.5rem;
//     line-height: 1.5;
//     font-family: $Spartan_font;
// }