@media only screen and (min-width: 0) {
    html {
        font-size: 100%;
      }
    body {
        background-color: $background_responsivecolor; 
        background-image: none;
    }
    #nav {
     display: block;
    }
    .nav_link {
        padding: 1em;
        background-color: purple;
        width: 100%;
        // font-size: calc(2rem + 4vw);
    }
    .dropdown-toggle:after { 
        content: none; 
    }
}

@media only screen and (min-width: 280px) {
    body {
        margin: 0;
    }
    .main_container {
        margin: 0;
    }
    .title {
        // font-size: .5rem;
        // text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .nav_link {
        background-color: transparent;
    }
}

@media only screen and (min-width: 1199px) {
    body {
        background-image: $background;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    // .dropdown-toggle {
    //     display: none;
    // }
}

@media only screen and (min-width: 1180px) {
    body {
        background-image: $background;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    .dropdown-toggle {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .navbar {
        display: flex;
        .nav_link {
        font-size: 1.5rem;
    }
}
    .social-container {
        display: none;
    }
}