@import 'variables.scss';
@import 'navbar.scss';
@import 'demos.scss';
@import 'about.scss';
@import 'socialmedia.scss';
@import 'responsive.scss';

* {
    box-sizing: border-box;
  }

body {
    // margin: 0 auto;
    // background-image: $background;
    // background-size: cover;
    // background-repeat: no-repeat;
}
.container {
    margin: 0 auto;
    width: 100%;
}
.main_container {
    // max-width: 1200px;
    background: $background_color;
    // background: #36096d linear-gradient(315deg, #33FFBD 0%, #37d5d6 74%);
    z-index: 1000;
    border: $border_color 1px solid;
    box-shadow: 5px 6px 6px 5px $bordershadow_color;
    position: relative;
    color: $text_color;
h1 {
    text-align: center;
    font-size: 3rem;
    font-family: $Spartan_font;
}
h2 {
    font-family: $Spartan_font;
    }
}

